.container {
    display: flex;
    width: 400px;
    height: 400px;
    background-color: blue;
    flex-direction: row-reverse;
}

.container > .item {
    background-color: gray;
    width: 50%;
    height: 50px;
}

article {
    background-color: aqua;
    margin: 10px;
    width: 80%;
    height: 200px;
}